body {
    padding: 0;
    margin: 0;
    background-color: #2C3333;
}

#inputBg {
    background-color: #395B64;
    width: 100vh;
    border-radius: 8px;
}

#inputCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
